<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Этот сайт создан в образовательных целях">
    <link rel="stylesheet" href="D:\Visual Studio Projects\github\Django\Education_brain\investment\static\css\.ind.css">
    <title>Main</title>
</head>
<body>
    <h1>Вы попали на главную страницу сайта Education_Brain</h1>
    <img src="https://media-cldnry.s-nbcnews.com/image/upload/t_fit-1500w,f_auto,q_auto:best/rockcms/2022-01/210602-doge-meme-nft-mb-1715-8afb7e.jpg" alt="Doge-meme">
    <ul>
        <li>DXY</li>
        <li>S&P500</li>
        <li>Bitcoin</li>
        <li>Aptos</li>
        <li>Ton</li>
    </ul>
    <p class="DXY">Индекс DXY показывает насколько дорогой доллар по отношении к пяти крупнейшим валютам</p>
</body>
</html>